.items {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
  }
  
  .entry {
    max-height: 600px;
    flex-shrink: 0; /* Prevent flex items from shrinking */
    flex-grow: 0; /* Prevent flex items from growing */
    flex-basis: 300px; /* Set initial width of each card */
    margin-right: 20px; /* Adjust margin between cards */
    padding: 20px;
    background-color: #f0f0f0; /* Example background color */
    border-radius: 8px;
  }
  .entry img{
    width: 50%;
    aspect-ratio: 2/2;
    border-radius: 50%;
  }