
.navbar {
    height: 80px;
     width: 100%;
    
     background: white;
     color: #fff;
     top: 0;
     bottom: 0;
  position: sticky;
     z-index: 509;
   }
 
  nav.navbar.active {
    background-color: #ffffff !important;
    transition: 0.5s ease-in;
  }
   .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
    
     
   }
 

 
  
  .navbar-container .navbar-logo.show {
    opacity: 1;
  }



   .navbar-logo {
     margin-left: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 1%;
   }
   
   .navbar-logo img {
     height: 50px;
     width: 200px;
     
    margin-left: 60px;
   }
   
   .menu-icon {
     display: none;
     cursor: pointer;
     font-size: 30px;
     margin-right: 30px;
     color: #030303;
   }
   
   .nav-menu {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 10px;
     font-size: 20px;
     font-weight: 800;
   }
   
   .nav-item {
     margin-right: 30px;
     margin-top: 2%;
   }
   
   .nav-link {
    color: rgb(5, 201, 250);
    
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
   }
   
   .nav-link:hover{
     color: aqua;
     transition: ease-in-out 0.5s;
   }
   
  
  .nav-item {
    position: relative;
  }
  
  .nav-item1{
    border: 1px solid red;
    padding: 8px;
   margin-top: 1.2%;
   margin-right: 30px;
   font-size: 15px;
   width: 100px;
   border-radius: 10px;
   margin-left: 100px;
   
  }
  .nav-item1:hover{
   background: #ee1ad2d7;
color: white;
transition: 0.4s ease-in-out;

  }
  
  .decor{
    text-decoration: none !important;
    color: rgb(3, 217, 255);

  }
  .nav-item1 li:hover{
    color: #fff;

  }
  
  .nav-item.dropdown .nav-link::after {
    content: '\25BE';
    float: right;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
   
   @media screen and (max-width: 768px) {
     .menu-icon {
       display: block;
       justify-content: right;
     }
   
     .navbar-container {
       display: flex;
       width: 100%;
       justify-content: space-between;
      
     }
   
     .nav-menu {
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 80px;
       left: -100%;
       width: 94.5%;
       opacity: 0;
       transition: all 0.5s ease;
       background-color: #FF0080;
       background-image: linear-gradient(135deg, #FF0080 0%, #5c0430 100%);
      
     }
   
     .nav-menu.active {
       left: 0;
       opacity: 1;
       z-index: 1;
     }
   
     .nav-item {
       margin-bottom: 10px;
     }
   
     .nav-link {
       color: #fff;
       text-decoration: none;
     }
   
     .navbar-logo img {
       height: 30px;
       width: 120px;
      padding: 15%;
      margin-left: 0px;
     }
    
      
    
   }
   .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #00d9ff;
    font-weight: 400;
    text-align: start;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
    
  }